        *{ 
            margin: 0; 
            padding: 0;
        }
        #container { 
           /* width: 600px; */
           width:100%;
            height: 450px;
           /* margin:20px auto;*/
           margin:0 0;
            overflow: hidden; 
            position: relative;
        }
        #list { 
            /*width: 4200px;*/ 
            width:15000px;
            height: 450px; 
            position: absolute; 
            z-index: 1;
        }
        #list img { 
            float: left;
        }
        #buttons {  
            height: 10px; 
            width: 100px; 
            position: absolute; 
            bottom: 20px; 
            /*left: 250px;*/
            left:50%;
            z-index: 2;
        }
        #buttons span { 
            cursor: pointer; 
            float: left; 
            width: 10px; 
            height: 10px; 
            border-radius: 50%; 
            background: #333;
            border: 1px solid #fff; 
            margin-right: 5px;
        }
        #buttons .on {  
            background: orangered;
        }
        .arrow {
            width: 40px; 
            height: 40px;
            line-height: 40px; 
            text-align: center; 
            font-size: 36px; 
            font-weight: bold;
            color: #fff; 
            position: absolute;
            top: 180px; 
            background-color: RGBA(0,0,0,0.3);
            z-index: 2;
            cursor: pointer;
            display: none;
        }
        .arrow:hover { 
            background-color: RGBA(0,0,0,0.7);
        }
        #container:hover .arrow { 
            display: block;
        }
        /*左箭头*/
        #prev { 
            left: 20px;
        }
        /*右箭头*/
        #next { 
            right: 20px;
        }

        