body{
		margin:0 auto; 
		/*字体大小是页面默认大小的100%，即16像素*/
		font: normal 100% Helvetica, Arial, sans-serif;
		width: 100%;
		
	}
.center{
	width: 100%;
	position: relative;
}
      .bkground{
      	   width: 100%;
	       height: 950px;
           background-image: url(../images/intro.jpg);
           background-repeat: no-repeat;
	       position: absolute;
	       z-index: 1;
        }
        .Title{
        	width:25%;
            height: 20%;
        	margin-left:10%;
        	margin-top: 2%;
        	color: #607869;
        	font-size: 3.5em;
        	float: left;
        	display: inline-block;
        }
        .details{
        	width:60%;
             height: 20%;
        	color: #607869;
        	font-size: 1.05em;
        	float: left;
        	display: inline-block;
        }
        .details p{
        	display: inline;
        	float: left;
        	margin:0;
        	margin-top: 3%;
        }
        hr{
        	float: left;
        	width: 0.6%;
        	height: 65px;
        	margin-top:2%;
        	margin-right:1%;
        	background-color: #607869;

        }
       .Itext{
        	color:  #959b9a;
        	width: 91%;
        	position: absolute;
        	z-index: 99;
        	background-color: #faf4f4;
        	left: 4%;
        	margin-top: 8%;
        }
        .Itext p ,ol{
        	margin-left: 4%;
        	margin-right: 3%;
        	font-size: 1.01em;

        }
.Ifooter{
	width: 100%;
	height: 150px;
	font-size: 0.9em;
	color: #929191;
	position: absolute;
	margin: 0;
	margin-top:960px;
}