.tcdPageCode{
      padding: 15px 20px;
        text-align: left;
        color: #ccc;
        margin-left: 35%;
    }
.tcdPageCode span.disabled{
    display: inline-block;

height: 32px;
line-height: 25px;
padding: 0 10px;
margin: 0 2px;
color: #bfbfbf;
background: #f2f2f2;
border: 1px solid #bfbfbf;
border-radius: 4px;
vertical-align: middle;}
.tcdPageCode span.current {
    display: inline-block;
    height: 32px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #3A5A3D;
    border: 1px solid #1C3A1A;
    border-radius: 4px;
    vertical-align: middle;

}
.tcdPageCode a {
    color: #3A5A3D;
    display: inline-block;
    height: 32px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
    
}
a:link {
    text-decoration: none;
}